body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 300px;
    margin: 60px auto;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
    margin-top: 8px;
    display: flex;
justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
